<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yilaguan.dao.UserDao">
    <sql id="userField">
        a.id as "id",
        a.name as "name",
        a.password as "password"
    </sql>

    <!--获取所有用户-->
    <select id="findAll" resultType="com.yilaguan.model.UserModel">
        select
        <include refid="userField"></include>
        from ay_user as a
    </select>


    <select id="findUserById" parameterType="Integer" resultType="com.yilaguan.model.UserModel">
        select * from ay_user where id =#{id}
    </select>

    <insert id="insertUser" useGeneratedKeys="true"
            keyProperty="id" parameterType="com.yilaguan.model.UserModel">
        insert into ay_user (name,password) value (#{name},#{password})
    </insert>


    <insert id="insertUserNew" useGeneratedKeys="true"
            keyProperty="id" parameterType="com.yilaguan.model.UserModel">
        <selectKey
            keyProperty="id" resultType="int" order="BEFORE">
            SELECT MAX(id)+1 as id from ay_user
        </selectKey>
        insert into ay_user (id,name,password) value (#{id},#{name},#{password})
    </insert>

    <delete id="deleteUserById" parameterType="int">
        delete from ay_user
        where id=#{id}
    </delete>

    <delete id="deleteUserByName" parameterType="String">
        delete from ay_user
        where name=#{name}
    </delete>

</mapper>
